[user]
  name = Michael Kelly
  email = m@michaelkelly.org
  signingkey = 2D703BB3DBED8262
[alias]
  ci = commit
  s = status
  st = status
  b = branch
  co = checkout
  diffc = diff @^ @
[color]
  branch = auto
  diff = auto
  status = auto
[push]
  default = current
[pull]
  ff = only
[init]
  defaultBranch = main
