# Procmail mail-killer. This is the serious stuff -- straight to /dev/null.
# Michael Kelly
# Sat Sep 19 18:40:40 EDT 2009

# blacklisted To: addresses, split into blocks of ten
# (run BEFORE SpamAssassin or bogofilter)

# spam caught by some server-side SpamAssassin
:0:
* ^Subject:.*\*\*\*SPAM\*\*\*
/dev/null

